.outerbox {
    height: 150px; 
    width: 650px; 
    margin: 40px auto;
}

.pic {
    margin: 0 0 15px 50px;
    width: 148px;
    height: 148px;
    background: url('/images/pptest.jpeg') -24px 0 no-repeat;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.overlay {
    display: block;
    width: 150px;
    margin-left: -1px;
}

.back-panel {
    text-align: center; 
    margin: auto; 
    width: 1000px; 
    height: 800px; 
    background: url('/images/home/linen_pattern.png');
    padding-top: 45px;
}

.stream {
    height: 400px; 
    width: 200px; 
    margin: auto;
}

.outerbox.padfront {
    border: 1px solid #999;
}
