.navbar.navbar-fixed-top
  .navbar-inner
    .container
      h5 = link_to "AboutYou", root_path, class: "brand"
      .nav-collapse.collapse
.back-panel.padfront
  .frame
    .outerbox.padfront
      br
      br
      br
      = @user.create_about_me
    #timeline-wrap.outerbox
      #timeline
        = render :partial => "box", :collection => @user.history


  .pic-frame
    .pic = image_tag 'circle_border.png', :style => "background-image:url(http://graph.facebook.com/#{@user.uid}/picture?type=large)"
    h5.no-margin = @user.name
    h6.no-margin = @user.employers.first.name
    h5.no-margin Recent Activity
    .padfront.stream
