<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html" style="text-decoration:none;"><h5 style="padding:0; line-height:20px; margin:0;">AboutYou</h5></a>
      <div class="nav-collapse collapse">
      </div>
    </div>
  </div>
</div>
<div style="margin:auto; width:1400px;">
    <%= image_tag "example_image.png" %>
  <div id="panel" style="display:inline-block; vertical-align:top;
    width:350px; text-align:center; margin: 72px 0 0 36px">
    <h4 style="color:#66C;">WELCOME TO <span style="color:#000;">ABOUTYOU</span></h4>
    Have you ever wanted a formal website to show employers?<br />
    <br />
    So when people google your name, they see a professional profile and not your social page?

    <h5>THAT'S WHERE WE COME IN</h5>
    In the click of a button, we will turn your social profile into a professional representation.<br />
    <br />
    Don't worry, we filter out those nasty status updates, slightly hung over pictures and gramatically incorrect descriptions.<br />
    <br />
    We just display the good stuff. So you can represent yourself on the web in an elegant, professional manner.<br />
    <br />
    <h5>CLICK BELOW TO GET STARTED</h5>
    <br />
    <%= link_to image_tag("log_in_fb_button.png"), {:action => :facebook_auth, :controller => :home} %> 
  </div>
</div>
