.outerbox {
    width: 650px;
    margin: 0px auto;
}

.outerbox.aboutme {
    height: 150px;
}

.pic img {
    margin-bottom: 10px;
    width: 148px;
    height: 148px;
    border-radius: 100px !important;
    -webkit-border-radius: 100px !important;
}

.overlay {
    display: block;
    width: 150px;
    margin-left: -1px;
}

.back-panel {
    text-align: center;
    margin: auto;
    width: 1000px;
    height: 800px;
    background: url('linen_pattern.png');
    padding-top: 45px;
}

.stream {
    height: 400px;
    width: 200px;
    margin: auto;
}

.outerbox.padfront {
    border: 1px solid #999;
    padding: 0px 20px;
}

.frame {
  width:700px;
  height:800px;
  display:inline-block;
  vertical-align:top;
}

.pic-frame {
    width:250px;
    height:800px;
    display:inline-block;
    vertical-align:top;
    float:right;
}

.no-margin {
  margin:0px;
}

#timeline-wrap {
  background-image: url('band.png');
  padding-top: 20px;
}
#timeline {
  width: 100%;
  height: 100%;
}
#timeline h1, #timeline h2 {
  padding: 0;
  text-align: center;
  line-height: 1em;
}
#timeline h1 {
  font-size: 1em;
  margin: 0px 0 20px 0;
}
#timeline h2 {
  font-size: 0.9em;
  font-weight: normal;
}
#timeline h2.bottom {
  margin-bottom: 10px;
}
#timeline .box, #timeline .date {
  margin-top: 20px;
}
#timeline .box {
  overflow: hidden;
  background-color: #fefefe;
}
#timeline .date {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  background-color: #c0dafc;
  text-align: center;
  padding: 2px;
  color: #333;
  border-bottom: 1px solid #74afeb;
  font-size: 0.9em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
#timeline .box, #timeline .icon {
  -webkit-transition: 200ms ease-in-out;
}
#timeline .cap {
  background: url('http://static.ak.fbcdn.net/rsrc.php/v2/yn/r/sEhgshq-BNx.png') 0 -33px no-repeat;
}
#timeline .icon {
  margin: 0 auto;
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 0px;
}
